body {
  margin: 0;
  height: 7725px;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1440px;
  height: 7725px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 1440px;
  height: 70px;
  top: 10px;
  left: 122px; 
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

A {
  text-decoration: none; 
  color: white;
}

.frame-1 {
  position:relative;
  width: 590px;
  height: 70px;
  left: 124px;
  top: 18px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  width: 133px; 
  height: 38px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-text {
  color: white;
}

.logo-text__purple {
  color: #9c45f6;
}

form {
  width: 388px;
  height: 50px;
  border-radius: 10px;
  background: transparent;

  flex: none;
  order: 1;
  flex-grow: 0;
}

  input {
  position: relative;
  width: 380px;
  height: 48px;
  border: none;
  border-radius: 10px;
  top: -26px;

  font-size: 100%;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5); 
  background: rgba(255, 255, 255, 0.1);
}

button {
  position: relative;
  height: 26px;
  width: 26px;
  top: 14px;
  left: 5px;
  border: none;
  background: transparent;
  border-radius: 10px;
}

.search {
  position: relative;
  width: 300px; 
  height: 38px;
  top: -69px;
  left: 41px;  
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.5);   
}

.frame-2 {
 position:relative;
  width: 522PX;
  height: 70px;
  right: 130px;
  top: 18px;

  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.preview-collections {
  width: 113px;
  height: 30px;
  left: 983px;
  top: 34px;
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.preview-feature {
  width: 77px;
  height: 30px;
  left: 1135px;
  top: 34px;
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.preview-faq {
 
  width: 40px;
  height: 30px;
  left: 1252px;
  top: 34px;
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.preview-select-walet {
  color: white;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);

  width: 171px;
  height: 50px;
  left: 1332px;
  top: 25px;
  margin: 0;
  border-radius: 10px;

  flex: none;
  order: 3;
  flex-grow: 0;
}

.preview-select-walet-text {
  position:relative;
  width: 131px;
  height: 30px;
  right: -20px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  flex: none;
  order: 0;
  flex-grow: 0;
} 

.home {
  position: relative;
  width: 1440px;
  height: 600px;
  top: 84px;
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-left {
  position:relative;
  width: 490px;
  height: 457px;
  left: 124px;
  top: -15px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* ??? */
  align-items: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-home {
  width: 490px;
  height: 180px;
  margin: 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: white;
}

.p-s-title-home {
  width: 490px;
  height: 72px;
  margin: 10px 0px 12px 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.5);
}

.action-home {
  width: 490px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;  /* ??? */
  align-items: center;
  gap: 20px;
}

.explore-home {
  width: 121px;
  height: 30px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.sell-home {
  width: 77px;
  height: 30px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.info-home {
  position: relative;
  width: 490px;
  height: 75px;
  margin: 26px 0px 0px 4px;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.artworks {
  width: 88px;
  height: 75px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.artworks-total {
  width:72px;
  height: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: white;
}

.artworks-name {
  width: 88px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
} 

.artists {
  width: 75px;
  height: 75px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.artists-total {
  width:75px;
  height: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: white;
}

.artists-name {
  width: 64px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
} 
.aucations {
  width: 102px;
  height: 75px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 4px 0px 0px
}

.aucations-total {
  width:75px;
  height: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: white;
}

.aucations-name {
  width: 102px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
} 